<!DOCTYPE html>
<html dir="rtl" lang="fa-IR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ page.title | default: site.title }}</title>

  <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">

  <script type="text/javascript" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
  </script>
</head>


<body>
  <div class="wrapper">
    <!-- <header>
      <h1><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
      <p style="text-align: right;">{{ site.description }}</p>
      <hr>
    </header> -->

    <header>
      <nav>
        <ul class="menu">
          <li><a href="{{ '/' | relative_url }}">نوشته‌ها</a></li>
          <li><a href="{{ '/contact' | relative_url }}">تماس با ما</a></li>
          <li><a href="{{ '/about' | relative_url }}">درباره</a></li>
        </ul>
      </nav>
    
      <hr />

      <h1 style="text-align: right;"><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
      <p class="site-description">{{ site.description }}</p>
      
      <hr />
      
    </header>
    
    

    <main>
      {{ content }}
    </main>

    <footer>
      <hr>
      <p>© {{ site.time | date: "%Y" }} {{ site.title }}</p>
    </footer>
  </div>
</body>
</html>
