<!DOCTYPE html>
<html dir="rtl" lang="fa-IR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ page.title | default: site.title }}</title>

  <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">

  <script type="text/javascript" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
  </script>
</head>

<style>
  body {
    direction: rtl;
    text-align: right;
    font-family: Gandom;
  }
  
  table, th, td {
    border: 1px solid #ccc;
    border-collapse: collapse;
    padding: 8px;
  }
  th {
    background-color: #f2f2f2;
  }
</style>

<body>
  <div class="wrapper">
    <!-- <header>
      <h1><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
      <p style="text-align: right;">{{ site.description }}</p>
      <hr>
    </header> -->

    <header>
      <nav>
        <ul class="menu">
          <li><a href="{{ '/' | relative_url }}">نوشته‌ها</a></li>
          <li><a href="{{ '/contact' | relative_url }}">تماس با من</a></li>
          <li><a href="{{ '/about' | relative_url }}">درباره</a></li>
        </ul>
      </nav>
    
      <hr />

      <h1 style="text-align: right;"><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
      <p class="site-description">{{ site.description }}</p>
      
      <hr />
      
    </header>
    
    

    <main>

      <article>
        <h2 class="post-title">{{ page.title }}</h2>
        <p><small>{{ page.date | date: "%B %d, %Y" }}</small></p>
        {{ content }}
        <!-- Giscus comments section -->
        <div id="giscus_thread"></div>
        <script src="https://giscus.app/client.js"
              data-repo="amin7tsix/blog"
              data-repo-id="R_kgDOOxW9mQ"
              data-category="General"
              data-category-id="DIC_kwDOOxW9mc4CqziA"
              data-mapping="pathname"
              data-strict="0"
              data-reactions-enabled="1"
              data-emit-metadata="0"
              data-input-position="top"
              data-theme="preferred_color_scheme"
              data-lang="fa"
              crossorigin="anonymous"
              async>
        </script>
      </article>

    </main>

    <footer>
      <hr>
      <p>© {{ site.time | date: "%Y" }} {{ site.title }}</p>
    </footer>
  </div>
</body>
</html>
